version: '3.9'

services:
    zookeeper:
        image: confluentinc/cp-zookeeper:latest
        user: root
        container_name: kafka_zookeeper
        environment: 
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - "22181:2181"
        restart: always
        volumes:
          - ./zookeeper_data:/var/lib/zookeeper/data
          - ./zookeeper_log:/var/lib/zookeeper/log

    broker:
        image: confluentinc/cp-enterprise-kafka:latest
        user: root
        container_name: kafka_broker_1
        volumes:
          - type: bind
            source: ./broker_1
            target: /var/lib/kafka/data
        depends_on:
            - zookeeper
        ports: 
            - "29092:29092"
            - "9092:9092"
        restart: always
        environment: 
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://172.21.100.174:9092
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
            KAFKA_MESSAGE_MAX_BYTES: 10485880
            KAFKA_REPLICA_FETCH_MAX_BYTES: 10485880
            KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: 60000

    schema-registry:
        image: confluentinc/cp-schema-registry
        container_name: kafka_schema_registry
        depends_on:
            - zookeeper
            - broker
        ports:
            - "8081:8081"
        restart: always
        environment:
            SCHEMA_REGISTRY_HOST_NAME: schema-registry
            SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: 'zookeeper:2181'
            SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'

    control-center:
        image: confluentinc/cp-enterprise-control-center:latest
        container_name: kafka_control_center
        depends_on:
            - zookeeper
            - broker
            - schema-registry
        ports:
            - 9021:9021
        restart: always
        environment: 
            CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
            CONTROL_CENTER_ZOOKEEPER_CONNECT: 'zookeeper:2181'
            # CONTROL_CENTER_CONNECT_MONGOCONNECT_CLUSTER: 'mongoconnect:8083'
            # CONTROL_CENTER_KSQL_URL: "http://ksql-server:8088"
            # CONTROL_CENTER_KSQL_ADVERTISED_URL: "http://localhost:8088"
            CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
            CONTROL_CENTER_REPLICATION_FACTOR: 1
            CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
            CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
            CONFLUENT_METRICS_TOPIC_REPLICATION: 1
            PORT: 9021

    rest-proxy:
        image: confluentinc/cp-kafka-rest:latest
        container_name: kafka_rest_proxy
        depends_on:
            - zookeeper
            - broker
        ports:
            - 8082:8082
        restart: always
        environment:
            KAFKA_REST_HOST_NAME: rest-proxy
            KAFKA_REST_BOOTSTRAP_SERVERS: 'broker:29092'
            KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
            KAFKA_REST_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'

    kafka-topics-ui:
        image: landoop/kafka-topics-ui:0.9.4
        container_name: kafka_ui
        depends_on:
            - zookeeper
            - broker
            - rest-proxy
        ports:
            - 28000:8000
        restart: always
        environment:
            KAFKA_REST_PROXY_URL: "http://rest-proxy:8082/"
            PROXY: "true"
